<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TinyOPDS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <TinyOPDS.Properties.Settings>
            <setting name="LibraryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Моя домашняя библиотека</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="OpenNATPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceFilesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLogToDisk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RootPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="WatchLibrary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUPnP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHTTPAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Credentials" serializeAs="String">
                <value />
            </setting>
            <setting name="BanClients" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RememberClients" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatesCheck" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastCheck" serializeAs="String">
                <value>2013-01-01</value>
            </setting>
            <setting name="WrongAttemptsCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LocalInterfaceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseAbsoluteUri" serializeAs="String">
                <value>False</value>
            </setting>
        </TinyOPDS.Properties.Settings>
    </userSettings>
</configuration>
